* {
    /* 全局样式:移动端视口的常用设置 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 取消点击时边框和蓝底 */
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 人头像，餐桌像 */
.humanHead {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 4px solid #fff;
}

/* 背景底色 */
/*
 * 状态：空闲
 * 角色：厨师、顾客、餐桌
*/
[data-status="free"] {
    background-image: linear-gradient(to right, #dddddd 50%, #aaaaaa 50%);
}

/*
 * 状态：等待入座/入座点餐
 * 角色：顾客
*/
[data-status="waitingSeat"],
[data-status="seatingOrder"] {
    background-image: linear-gradient(to right, #7591c5 50%, #2166c0 50%);
}