.game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 70px;
}

/* 头部 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.time-display,
.money-display {
    display: flex;
    align-items: center;
    height: 100%;
    border: 6px solid rgba(107, 105, 0);
    background-image: linear-gradient(yellow 50%, rgb(226, 201, 11) 50%);
    border-radius: 20px;
    color: rgba(107, 105, 0);
}

/* 时间区域 */
.time-display {
    justify-content: space-evenly;
    width: 35%;
}

/* 金钱区域 */
.money-display {
    justify-content: flex-end;
    width: 55%;
    padding-right: 20px;
}

/* 主体内容 */
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

/* 厨师区域 */
.chef-section {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3, 33.333333%);
    justify-items: center;
    padding-bottom: 10px;
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: rgb(226, 201, 11);
}

/* 厨师项 */
.chef {
    margin: 10px 0 20px 0;
}

/* 招聘厨师按钮 */
.hireChefBtn {
    position: relative;
    margin: 10px 0 20px 0;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
}

/* 厨师头像阴影 */
.hireChefBtn img {
    transform: translateX(-60px);
    filter: drop-shadow(60px 0 0px white);
}

/* 招聘厨师按钮加号 */
.hireChefBtn::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(161, 128, 21, 0.8);
    font-size: 50px;
}

/* 用餐区域 */
.table-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    height: 260px;
    padding-left: 20px;
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: rgb(253, 142, 51);
}

.table:nth-child(n+3) {
    align-self: start;
}

/* 餐桌项 */
.table {}


/* 顾客等候区 */
.waitingCustomer-section {
    position: absolute;
    bottom: -40px;
    right: 0;
    opacity: 1;
}

.waitingCustomer-section.show {
    opacity: 1;
}

/* 顾客项 */
.customer {}

/* 操作弹窗 */
.operation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.operation-modal.active {
    display: flex;
}

/* 消息提示 */
.message {
    position: absolute;
    opacity: 0;
}

.message.show {
    opacity: 1;
}