.game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 70px;
}

/* 头部 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.time-display,
.money-display {
    display: flex;
    align-items: center;
    height: 100%;
    border: 6px solid rgb(111, 94, 8);
    background-image: linear-gradient(yellow 50%, rgb(226, 201, 11) 50%);
    border-radius: 20px;
    color: rgb(111, 94, 8);
}

/* 时间区域 */
.time-display {
    justify-content: space-evenly;
    width: 35%;
}

/* 金钱区域 */
.money-display {
    justify-content: flex-end;
    width: 55%;
    padding-right: 20px;
}

/* 头部 */

/* 主体内容 */
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

/* 厨师区域 */
.chef-section {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3, 33.333333%);
    justify-items: center;
    padding-bottom: 10px;
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: rgb(226, 201, 11);
}

/* 厨师项 */
.chef {
    position: relative;
    margin: 10px 0 20px 0;
    pointer-events: none;
}

/* 解雇厨师按钮 */
.fireChefBtn {
    position: absolute;
    top: -35px;
    right: -10px;
    transform: rotate(45deg);
    color: rgba(161, 128, 21, 0.8);
    font-size: 50px;
    pointer-events: auto;
}

.fireChefBtn.hide {
    display: none;
}

/* 招聘厨师按钮 */
.hireChefBtn {
    position: relative;
    margin: 10px 0 20px 0;
    background-color: rgb(212, 212, 212);
    overflow: hidden;
}

/* 厨师头像阴影 */
.hireChefBtn img {
    transform: translateX(-60px);
    filter: drop-shadow(60px 0 0px white);
}

/* 招聘厨师按钮+号 */
.hireChefBtn::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(161, 128, 21, 0.8);
    font-size: 50px;
}

.hireChefBtn.hide {
    display: none;
}

/* 用餐区域 */
.table-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    height: 260px;
    padding-left: 20px;
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: rgb(253, 142, 51);
}

.table:nth-child(n+3) {
    align-self: start;
}

/* 餐桌项 */
.table {}


/* 顾客等候区 */
.waitingCustomer-section {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: -45px;
    right: 0;
    opacity: 1;
}

.waitingCustomer-section.show {
    opacity: 1;
}

/* 顾客项 */
.customer:nth-child(1) {
    transform: translateX(0);
}

.customer:nth-child(2) {
    transform: translateX(22px);
}

.customer:nth-child(3) {
    transform: translateX(44px);
}

.customer:nth-child(4) {
    transform: translateX(66px);
}

.customer:nth-child(5) {
    transform: translateX(88px);
}

.customer:nth-child(6) {
    transform: translateX(110px);
}

/* 主体内容 */

/* 操作弹窗 */
.operation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.operation-modal.active {
    display: flex;
}

/* 操作弹窗公共样式 */
.modalCommon {
    width: 100%;
    padding: 15px;
    border: 6px solid #fff;
    border-radius: 15px;
    background-color: rgb(226, 201, 11);
    display: none;
}

.modalCommon.show {
    display: block;
}

.modalCommon h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

.modalCommon p {
    font-size: 14px;
    color: rgba(107, 105, 0);
    line-height: 20px;
}

.modalCommon button {
    height: 40px;
    border: 2px solid rgb(111, 94, 8);
    background-image: linear-gradient(yellow 50%, rgb(226, 201, 11) 50%);
    border-radius: 20px;
    color: rgb(111, 94, 8);
}

.modalCommon .operation-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.operation-btn .sureBtn {
    width: 60%;
}

.operation-btn .sureBtn:disabled {
    background-image: linear-gradient(#bbbab2d6 50%, #989696b7 50%);
    color: rgba(161, 128, 21, 0.8);
}

.operation-btn .cancelBtn {
    width: 35%;
}

/* 游戏开始弹窗 */
.game-start p.game-intro {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 16px;
}

.game-start .startGameBtn {
    margin: 0 auto;
    width: 100%;
}

/* 顾客点餐菜单 */
.order-dish {
    position: relative;
}

.order-customer {
    position: absolute;
    top: -35px;
    left: 15px;
}

.order-info {
    text-align: right;
    margin-bottom: 10px;
}

.order-menu {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    border: 2px solid rgb(160, 139, 35);
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    color: rgb(111, 94, 8);
}

.order-menu dl {
    margin-bottom: 10px;
}

.order-menu dl dt {
    margin-bottom: 10px;
}

.order-menu dl dd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 8px;
}

/* 操作弹窗 */

/* 消息提示 */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 10px 15px;
    border: 6px solid #fff;
    border-radius: 15px;
    color: rgb(146, 124, 10);
    z-index: 9999;
    display: none;
}

.message.fail {
    background-color: pink;
}

.message.success {
    background-color: rgb(204, 222, 45);
}

.message p {
    font-size: 12px;
    text-align: center;
}

.message.show {
    display: block;
}

/* 消息提示 */